<a href="https://colab.research.google.com/github/AsadMalikX/Data-Cleaninig-and-Handling-Missing-Values/blob/main/Data_Cleaninig.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Task: Data cleaning

In [ ]:
import pandas as pd
import numpy as py

###1. Load the Dataset

In [ ]:
# Loading the dataset
data = pd.read_csv('/content/food_coded.csv')

In [ ]:
# Displaying the first five rows of the data set
print(data.head())

     GPA  Gender  breakfast  calories_chicken  calories_day  calories_scone  \
0    2.4       2          1               430           NaN           315.0
1  3.654       1          1               610           3.0           420.0
2    3.3       1          1               720           4.0           420.0
3    3.2       1          1               430           3.0           420.0
4    3.5       1          1               720           2.0           420.0

   coffee                      comfort_food        comfort_food_reasons  \
0       1                              none       we dont have comfort
1       2       chocolate, chips, ice cream        Stress, bored, anger
2       2   frozen yogurt, pizza, fast food             stress, sadness
3       2  Pizza, Mac and cheese, ice cream                     Boredom
4       2      Ice cream, chocolate, chips   Stress, boredom, cravings

   comfort_food_reasons_coded  ...  soup  sports  thai_food tortilla_calories  \
0                         9.0  ...   1.0     1.0          1            1165.0
1                         1.0  ...   1.0     1.0          2             725.0
2                         1.0  ...   1.0     2.0          5            1165.0
3                         2.0  ...   1.0     2.0          5             725.0
4                         1.0  ...   1.0     1.0          4             940.0

   turkey_calories  type_sports veggies_day  vitamins  waffle_calories  \
0              345   car racing           5         1             1315
1              690  Basketball            4         2              900
2              500         none           5         1              900
3              690          NaN           3         1             1315
4              500     Softball           4         2              760

                     weight
0                       187
1                       155
2  I'm not answering this.
3             Not sure, 240
4                       190

[5 rows x 61 columns]

In [ ]:
# Printing the last five rows  of the data
print(data.tail())

       GPA  Gender  breakfast  calories_chicken  calories_day  calories_scone  \
120    3.5       1          1               610           4.0           420.0
121      3       1          1               265           2.0           315.0
122  3.882       1          1               720           NaN           420.0
123      3       2          1               720           4.0           420.0
124    3.9       1          1               430           NaN           315.0

     coffee                             comfort_food  \
120       2  wine. mac and cheese, pizza, ice cream
121       2               Pizza / Wings / Cheesecake
122       1               rice, potato, seaweed soup
123       1             Mac n Cheese, Lasagna, Pizza
124       2             Chocolates, pizza, and Ritz.

                              comfort_food_reasons  \
120                           boredom and sadness
121                Loneliness / Homesick / Sadness
122                                        sadness
123  happiness, they are some of my favorite foods
124               hormones, Premenstrual syndrome.

     comfort_food_reasons_coded  ...  soup  sports  thai_food  \
120                         NaN  ...   1.0     1.0          5
121                         NaN  ...   1.0     NaN          4
122                         NaN  ...   1.0     2.0          5
123                         NaN  ...   2.0     2.0          1
124                         NaN  ...   1.0     2.0          2

    tortilla_calories  turkey_calories  type_sports veggies_day  vitamins  \
120             940.0              500     Softball           5         1
121             940.0              500  basketball            5         2
122             580.0              690         none           4         2
123             940.0              500          NaN           3         1
124             725.0              345          NaN           4         2

     waffle_calories  weight
120             1315     156
121             1315     180
122             1315     120
123             1315     135
124              575     135

[5 rows x 61 columns]

In [ ]:
# Checking the columns and rows in the data
data.shape

(125, 61)

In [ ]:
# Getting more info about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   99 non-null     object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB

###2. Handle Missing Values

In [ ]:
# Checking the missing values
data.isnull().sum()

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         26
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

In [ ]:
# Inspect the 'GPA' column to see what types of values it contains
print(data['GPA'].unique())

['2.4' '3.654' '3.3' '3.2' '3.5' '2.25' '3.8' '3.904' '3.4' '3.6' '3.1'
 nan '4' '2.2' '3.87' '3.7' '3.9' '2.8' '3' '3.65' '3.89' '2.9' '3.605'
 '3.83' '3.292' '3.35' 'Personal ' '2.6' '3.67' '3.73' '3.79 bitch' '2.71'
 '3.68' '3.75' '3.92' 'Unknown' '3.77' '3.63' '3.882']

In [ ]:
# Convert non-numeric values to NaN in 'GPA' column
data['GPA'] = pd.to_numeric(data['GPA'], errors='coerce')

In [ ]:
# Now fill missing values with the mean
data['GPA'].fillna(data['GPA'].mean(), inplace=True)

In [ ]:
# Check if the conversion and filling are successful
print("Unique values in 'GPA' after conversion and filling:")
print(data['GPA'].unique())

Unique values in 'GPA' after conversion and filling:
[2.4        3.654      3.3        3.2        3.5        2.25
 3.8        3.904      3.4        3.6        3.1        3.41555833
 4.         2.2        3.87       3.7        3.9        2.8
 3.         3.65       3.89       2.9        3.605      3.83
 3.292      3.35       2.6        3.67       3.73       2.71
 3.68       3.75       3.92       3.77       3.63       3.882     ]

In [ ]:
# Inspect and Clean 'weight' Column
print("Unique values in 'weight' before conversion:")
print(data['weight'].unique())

Unique values in 'weight' before conversion:
['187' '155' "I'm not answering this. " 'Not sure, 240' '190' '180' '137'
 '125' '116' '110' '264' '123' '185' '145' '170' '135' '165' '175' '195'
 '105' '160' '167' '115' '205' nan '128' '150' '140' '120' '100' '113'
 '168' '169' '200' '265' '192' '118' '210' '112' '144 lbs' '130' '127'
 '129' '260' '184' '230' '138' '156']

In [ ]:
data['weight'] = pd.to_numeric(data['weight'], errors='coerce')
data['weight'].fillna(data['weight'].mean(), inplace=True)

In [ ]:
print("Unique values in 'weight' after conversion and filling:")
print(data['weight'].unique())

Unique values in 'weight' after conversion and filling:
[187.  155.  158.5 190.  180.  137.  125.  116.  110.  264.  123.  185.
 145.  170.  135.  165.  175.  195.  105.  160.  167.  115.  205.  128.
 150.  140.  120.  100.  113.  168.  169.  200.  265.  192.  118.  210.
 112.  130.  127.  129.  260.  184.  230.  138.  156. ]

In [ ]:
# Fill missing values for 'calories_day' and other columns
data['calories_day'].fillna(data['calories_day'].mean(), inplace=True)
data['type_sports'].fillna('missing', inplace=True)

In [ ]:
# Check again for missing values after filling
print("Missing values after filling:")
print(data.isnull().sum())

Missing values after filling:
GPA                 0
Gender              0
breakfast           0
calories_chicken    0
calories_day        0
                   ..
type_sports         0
veggies_day         0
vitamins            0
waffle_calories     0
weight              0
Length: 61, dtype: int64

###3. Remove Duplicates

In [ ]:
# Remove duplicate rows
data.drop_duplicates(inplace=True)

# Check the shape of the dataset after removing duplicates
print("Shape of data after removing duplicates:", data.shape)

Shape of data after removing duplicates: (125, 61)

###4. Verify the Cleaning Process

In [ ]:
# Verify that there are no missing values
print(data.isnull().sum())

GPA                 0
Gender              0
breakfast           0
calories_chicken    0
calories_day        0
                   ..
type_sports         0
veggies_day         0
vitamins            0
waffle_calories     0
weight              0
Length: 61, dtype: int64

In [ ]:
# Verify that there are no duplicate rows
print(data.duplicated().sum())

0

In [ ]:
# Verify the dataset after cleaning
print(data.head())

     GPA  Gender  breakfast  calories_chicken  calories_day  calories_scone  \
0  2.400       2          1               430      3.028302           315.0
1  3.654       1          1               610      3.000000           420.0
2  3.300       1          1               720      4.000000           420.0
3  3.200       1          1               430      3.000000           420.0
4  3.500       1          1               720      2.000000           420.0

   coffee                      comfort_food        comfort_food_reasons  \
0       1                              none       we dont have comfort
1       2       chocolate, chips, ice cream        Stress, bored, anger
2       2   frozen yogurt, pizza, fast food             stress, sadness
3       2  Pizza, Mac and cheese, ice cream                     Boredom
4       2      Ice cream, chocolate, chips   Stress, boredom, cravings

   comfort_food_reasons_coded  ...  soup  sports  thai_food tortilla_calories  \
0                         9.0  ...   1.0     1.0          1            1165.0
1                         1.0  ...   1.0     1.0          2             725.0
2                         1.0  ...   1.0     2.0          5            1165.0
3                         2.0  ...   1.0     2.0          5             725.0
4                         1.0  ...   1.0     1.0          4             940.0

   turkey_calories  type_sports veggies_day  vitamins  waffle_calories  weight
0              345   car racing           5         1             1315   187.0
1              690  Basketball            4         2              900   155.0
2              500         none           5         1              900   158.5
3              690      missing           3         1             1315   158.5
4              500     Softball           4         2              760   190.0

[5 rows x 61 columns]

In [ ]:
# Getting more info about the data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           125 non-null    float64
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  125 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          123 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   125 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        125 non-null    float64
dtypes: float64(22), int64(27), object(12)
memory usage: 59.7+ KB